.form-control:focus{
    border: none;
    outline: none !important;
    box-shadow: none;
}
.btn:focus, a:focus
{
    outline: none !important;
    box-shadow: none;
}
.navbar-toggler:focus
{
    outline: none !important;
    box-shadow: none;
}
.navbar-brand, .d-font{
    font-family: 'Radio Canada', sans-serif;
}
.navbar-brand .logo {
    font-size: 18px;
    background: blueviolet;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
   
    
}
.navbar-brand .logo svg{
    position: relative;
    top: -3px;
}
.navbar-brand .logo em{
    position: relative;
    top: -2px;
    text-decoration: none;
    font-style: inherit;
}
.text{
    max-width: 100%;
    min-width: 100%;
    min-height: 90px;
    border-radius: 5px 5px 0px 0px;
}
.text:focus{
    border: 1px solid;
    border-color: blueviolet;
    outline: none !important;
    box-shadow: none;
}
.dowload-button{
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
    width: 100%;
}
.dowload-button{
    background-color: blueviolet;
    border-color:#8a2be2;
}
.dowload-button:hover{
    background-color: blueviolet;
    border-color:#8a2be2;
}
.dowload-button:disabled{
    background-color: blueviolet;
    border-color:#8a2be2;
}
.btn-save{
    border-color: blueviolet;
    color: blueviolet;
    margin-top: 25px;
}
.btn-save:disabled{color: blueviolet;}
.btn-save svg{position: relative;top: -2px;}
.btn-save:hover{
    color: #8a2be2ba;
    border-color: #8a2be2ba;
    background-color: transparent;

}
.stronger{
    font-weight: bold;
    color: blueviolet;
}
.container-fluid{
    padding: 0;
    margin-bottom: 25px;
}

.ls-voice{
    margin-top:25px;
}
.ls-voice ul {
    padding: 0;
    list-style: none;
}

p.text-voice{
    padding: 7px 39px 7px 20px;
    padding-bottom: 0;
    margin: 0;
    color: #777;
    font-size: 13px;
    width: 100%;
}
.ls-voice ul li{
    border: 1px solid #ccc;
    margin-bottom: 5px;
    border-radius: 5px;
    position: relative;
}
.btn-delete{
    position: absolute;
    right: 0px;
    top: 0px;
    color: #4444bfad;
}
.ls-voice ul {
    max-height: 450px;
    overflow-y: scroll;
}
.ls-voice{
    overflow: hidden;
}
.text-justify{
    text-align: justify;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #8a2be257;
}
#cookieBar{
background-color: #fff;
padding: 25px;
}
.img-exp{
    width: 100%;
}
.cookieBarButtons{
    float: right;
}
.dowld-exemplo{
    margin: 15px 0;
}

.dowld-exemplo strong{
    color: #777;
}
.dowld-exemplo p{
    font-size: 12px;
    position: relative;
    top: -1px;
}